@tailwind base;
@tailwind components;
@tailwind utilities;


  @font-face {
    font-family: 'Poppins';
    src: url('../../public/Poppins/Poppins-Medium.ttf') format('ttf');
  }

:root {
  --background: #ffffff;
  --foreground: #171717 !important;
  --yelloGreen: #a5e524;
  --textColor: #000000;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background) !important;
  font-family: 'Poppins', sans-serif;
}
